extends ../main

block variables
    - var title = 'Главная'

block content
    main.main
        //- banner
        section.main__banner
            div(style='background-image:url(images/bg/bannerBg.jpg)').banner
                .container
                    .banner__title Продажа орехов и сухофруктов премиум сегмент оптом и в розницу
                    .banner__sub С доставкой по всей России и СНГ
                    .banner__buttons
                        .banner__button
                            a(href='catalog.html').btn
                                .btn__title В каталог
                        .banner__else или
                        .banner__button
                            a(href='#' download).btn2
                                +icon('pdf', 'btn2__svg')
                                .btn2__title Скачать прайс-лист




        //- about
        section.main__about
            .about
                .container
                    .row
                        //-logo lg
                        .about__logo
                            //- img
                            .about__img.about__img_lg
                                img(src='images/content/main/about/logo.svg').about__img-img

                        //- left
                        .about__left
                            //- img
                            .about__img
                                img(src='images/content/main/about/logo.svg').about__img-img
                            //- desc
                            .about__desc
                                .row
                                    .about__desc-left
                                        .about__content.content
                                            p Компания ООО "Трансфрут" - современное российское предприятие, предлагающее потребителю широкую линейку орехов, сухофруктов, сладостей под собственной маркой «ВКУСИТА».
                                            p Мы реализуем натуральные продукты высокого качества для здорового питания всей семьи.

                                        a(href='company.html').about__link
                                            .button Подробнее о компании
                                    .about__desc-right
                                        .about__list
                                            .about__item
                                                .about__item-icon
                                                    +icon('hands', 'about__item-svg')
                                                .about__item-title
                                                    | Ручная
                                                    br
                                                    | фасовка
                                            .about__item
                                                .about__item-icon
                                                    +icon('packing', 'about__item-svg')
                                                .about__item-title
                                                    | Яркий дизайн
                                                    br
                                                    | упаковки
                                            .about__item
                                                .about__item-icon
                                                    +icon('rublAbout', 'about__item-svg')
                                                .about__item-title
                                                    | Доступные цены,
                                                    br
                                                    | гибкая система
                                                    br
                                                    | скидок
                                            .about__item
                                                .about__item-icon
                                                    +icon('delivery', 'about__item-svg')
                                                .about__item-title
                                                    | Доставка
                                                    br
                                                    | по всей Росиии
                                                    br
                                                    | и СНГ




                        //- right
                        .about__right
                            .about__image
                                .about__image-wrap
                                    img(src='images/content/main/about/img.jpg').about__image-img

        //- catalog
        section.main__catalog
            .icats
                .container
                    .icats__list
                        .row
                            each i,x in icats
                                .icats__item
                                    a(href='catalog.html').icat
                                        .icat__link
                                            .icat__link-title= i
                                            +icon('arrw2', 'icat__link-svg')
                                        .icat__image
                                            img(src='images/bg/frame.png').icat__frame
                                            div(style='background-image:url(images/content/main/icatalog/img' + x + '.jpg)').icat__image-img
                                            img(src='images/content/main/icatalog/' + x + '.png').icat__image-img2
                    a(href='catalog.html').icats__link
                        .icats__link-title Перейти в каталог
                        +icon('angle-rightt', 'icats__link-svg')




        //- specs
        section.main__specs
            .ispecs
                .container
                    .ispecs__title.title Специальные предложения

                    //- switches
                    .ispecs__sws
                        .ispecs__sws-list
                            each i,x in ispecs
                                button(type='button' class=i.active data-id=x + 1).ispecs__sw= i.title
                        .ispecs__line
                            .ispecs__subline

                    //- tabs
                    .ispecs__tabs
                        each i,x in ispecs
                            div(data-id=x + 1 class=i.active).ispecs__tab
                                .ispecs__swiper
                                    .swiper-container.ispecs__container
                                        - var n = 0;
                                        .swiper-wrapper.ispecs__wrapper
                                            while n < i.count + 1
                                                .swiper-slide
                                                    +item(n++)
                                        .swiper-pagination.ispecs__pag
                                    .ispecs__prev
                                        button.arrow
                                            +icon('arrw3', 'arrow__svg')
                                    .ispecs__next
                                        button.arrow.arrow_next
                                            +icon('arrw3', 'arrow__svg')








        //- partners
        section.main__partners
            .iparts
                .container
                    .row
                        //- left
                        .iparts__left
                            .iparts__title.title.title_left Партнеры
                            .iparts__desc ООО "Трансфрут" современная и развивающая компания, которая работает со многими партнерами, которые также придерживаются аналогичных принципов ведения бизнеса. Но самое главное для нас то, что мы действительно любим свое дело и стараемся заниматься им в высшей степени профессионально!
                            .iparts__button
                                a(href='company.html').button Подробнее о сотрудничестве
                        //- right
                        .iparts__right
                            .iparts__list
                                each i in [1,2,3,4,5,6]
                                    .iparts__item
                                        img(src='images/content/main/iparts/'+i+'.png').iparts__item-img





        //- feed
        section.main__feed
            .ifeed
                .container
                    .row
                        form(action='#' method='post').ifeed__form
                            input(type='hidden' name='action' value='ifeed')
                            .ifeed__title.title.title_gold Остались вопросы?
                            .ifeed__subtitle.subtitle Оставте заявку и наш менеджер свяжеться с вами в ближайшее время
                            .row.ifeed__fields
                                .ifeed__field
                                    input(type='text' placeholder='Ваши имя' name='name').ifeed__input.input.input_gold
                                .ifeed__field
                                    input(type='tel' placeholder='Номер телефона' name='tel').ifeed__input.input.input_gold
                            .ifeed__submit
                                button(type='submit').btn
                                    .btn__title Отправить
                            .ifeed__fz
                                .fz.fz_white
                                    label.fz__label
                                        input(type='checkbox' name='fz' checked=true).fz__input
                                        .fz__fake
                                            +icon('check', 'fz__svg')
                                        .fz__title Я даю согласие на обработку персональных данных





        //- reviews
        section.main__revs
            .irevs
                .container
                    .row
                        .irevs__left
                            .irevs__title.title.title_left Отзывы
                            .irevs__desc Наши покупателия делятся своими впечатлениями о нашей продукции
                            a(href='reviews.html').irevs__link
                                .button Смотреть все отзывы

                        .irevs__right
                            .irevs__slider
                                //- nav
                                .irevs__nav
                                    .irevs__prev
                                        button.arrow.arrow_small
                                            +icon('arrw3', 'arrow__svg')
                                    .irevs__next
                                        button.arrow.arrow_next.arrow_small
                                            +icon('arrw3', 'arrow__svg')

                                //- slider-container
                                .swiper-container.irevs__container
                                    .swiper-wrapper.irevs__wrapper
                                        each i in [1,2,1,2,1]
                                            .swiper-slide.irevs__slide
                                                .irev
                                                    .irev__wrapper
                                                        //- top
                                                        .irev__top
                                                            .irev__img
                                                                img(src='images/content/main/irevs/'+i+'.jpg')
                                                            .irev__wrap
                                                                .irev__title Петрова Ирина
                                                                .irev__city г. Москва

                                                        //- bottom
                                                        .irev__bottom
                                                            .irev__desc Повседневная практика показывает, что рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. С другой стороны дальнейшее развитие различных форм деятельности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.