extends ../main

block variables
    - var title = 'Товар'

block content
    main.pr
        //- main
        section(data-id='1').pr__main.buyItem
            .container
                //- bread
                .pr__bread
                    .bread.bread_pr
                        a(href='./').bread__item
                            .bread__item-title Главная
                        a(href='catalog.html').bread__item
                            .bread__item-title Каталог
                        a(href='catalog.html').bread__item
                            .bread__item-title Орехи
                        span.bread__item
                            .bread__item-title Бразильский орех

                //- title
                .pr__title.pr__title_lg Бразильский орех очищенный
                .row
                    //- left
                    .pr__left
                        //- title
                        .pr__title Бразильский орех очищенный

                        form(action='#' method='post').pr__form
                            //- sub
                            .pr__sub
                                .pr__av.pr__av_lg
                                    +icon('check', 'pr__av-svg')
                                    .pr__av-title Есть на складе
                                .pr__code Код товара: 100009
                                .pr__rating
                                    .rating
                                        .rating__wrapper
                                            each i in [5,4,3,2,1]
                                                input(type='radio' name='rating' value=i id='rating-' + i checked=i == 3 ? true : false).rating__input
                                                label(for='rating-' + i).rating__star
                                                    +icon('star', 'rating__star-svg')


                            //- pricing
                            .pr__pricing
                                //- price
                                .pr__price
                                    .pr__price-title Цена за 500 гр.
                                    .pr__price-block
                                        .pr__price-item
                                            +price('1 250', 'price_pr')
                                        .pr__price-item
                                            +oldPrice('1 400', 'price_pr')

                                //- count
                                .pr__count
                                    .pr__count-title Количество:
                                    .pr__count-count
                                        .count.count_pr.count_big
                                            button(type='button').count__down
                                            input(type='text' name='count' value='1' readonly=true).count__input
                                            button(type='button').count__up

                            //- explore
                            .pr__explore
                                .pr__explore-title *На крупный опт от 100 кг, цена уточняется у менеджера
                                button(type='button').pr__explore-button.callorderOpen
                                    .button.button_pr Узнать цену

                            //- buy
                            .pr__buy
                                .row
                                    .pr__buy-button
                                        button(type='button').btn.buy
                                            +icon('basket', 'btn__svg')
                                            .btn__title В корзину

                                    .pr__buy-download
                                        a(href='#' download=true).btn2.btn2_pr
                                            +icon('pdf', 'btn2__svg')
                                            .btn2__title Скачать прайс-лист


                                    button(type='button').pr__one.fastOrder
                                        +icon('one', 'pr__one-svg')
                                        .pr__one-title Купить в один клик

                                    button(type='button').pr__compare.compareProduct
                                        +icon('compare', 'pr__compare-svg')
                                        .pr__compare-title.compareProduct__title Сравнить

                    //- right
                    .pr__right
                        .row
                            .pr__image
                                .proportion.proportion_376x462
                                .pr__discount
                                    .pr__discount-wrap
                                        .pr__discount-val -15%
                                .pr__image-wrap
                                    img(src='images/content/products/0.png').pr__image-img.buyImg

                            .pr__imgs
                                .pr__imgs-av
                                    .pr__rating.pr__rating_lg
                                        .rating
                                            .rating__wrapper
                                                each i in [5,4,3,2,1]
                                                    input(type='radio' name='ratingLg' value=i id='ratingLg-' + i checked=i == 3 ? true : false).rating__input
                                                    label(for='ratingLg-' + i).rating__star
                                                        +icon('star', 'rating__star-svg')


                                    .pr__av
                                        +icon('check', 'pr__av-svg')
                                        .pr__av-title Есть на складе
                                .pr__imgs-list
                                    each i in [0,1,2]
                                        button(type='button' class= i == 0 ? 'active' : '').pr__img
                                            img(src='images/content/products/' + i + '.png').pr__img-img

                            .pr__explore.pr__explore_lg
                                .pr__explore-title *На крупный опт от 100 кг, цена уточняется у менеджера
                                button(type='button').pr__explore-button.callorderOpen
                                    .button.button_pr Узнать цену

        //- tabs
        section.pr__desc
            .container
                //- switches
                .pr__sws
                    .pr__sws-list
                        each i,x in productDesc
                            button(type='button' class=i.active data-id=x + 1).pr__sw= i.title
                    .pr__line
                        .pr__subline

                //- tabs
                .pr__tabs
                    div(data-id=1 class='active').pr__tab
                        .pr__cont
                            .content
                                .row
                                    //- left
                                    .pr__cont-left
                                        //- list
                                        .pr__list
                                            each i in productList
                                                .pr__item
                                                    .pr__item-title= i.title
                                                    .pr__item-line
                                                    .pr__item-val= i.val
                                        p(style='margin-bottom: 75px;') Бразильский орех, родиной которого являются территории берегов реки Амазонки, с ботанической точки зрения представляет собой не орех, а семечко плода бразильского дерева бертоллетия. Эти семена обладают нежным вкусом и высокой питательностью. Приобрести оптом такой экзотический продукт как бразильский орех можно в интернет-магазине компании «Транскэроб».

                                        img(src='images/content/products/img2.jpg')

                                    //- right
                                    .pr__cont-right
                                        img(src='images/content/products/img1.png' style='margin-bottom: 50px;')
                                        p
                                            b Особенности и применение:
                                        p Бразильских орех пользуется популярностью у приверженцев правильного питания, вегетарианцев и веганов благодаря ценному составу
                                        ul
                                            li Клетчатка, содержащаяся в ядрах и красноватой тонкой кожице орехов, способствует мягкому естественному очищению организма от токсинов и лишней жидкости, а также улучшает процессы пищеварения;
                                            li Всего 2-3 штуки позволяют восполнить суточную необходимость организма в селене, это ценное вещество участвует в производстве ферментов, клеточном и гормональном обмене;
                                            li Антиоксидантные свойства орехов позволяют бороться со свободными радикалами и пагубными окислительными процессами в организме.
                                        blockquote Чтобы не навредить фигуре и пищеварению, а также не спровоцировать аллергическую реакцию, важно соблюдать рекомендованную дневную норму потребления бразильского ореха, которая не превышает 4-5 штук.
                                        p
                                            b Преимущества наших товаров
                                        p Бразильские орехи, реализуемые компанией «Вкусита» отличаются свежестью, большим размером и стопроцентной натуральностью. При сборе и фасовке они не подвергаются обработке химикатами, их свежесть сохраняется благодаря надежным упаковкам и соблюдению норм хранения при транспортировке и на складе. Регулярные поставки орехов от проверенных производителей позволяют гарантировать постоянное наличие товара на складе и его свежесть.


                                    //- icons
                                    .pr__icons
                                        .pr__icon
                                            .pr__icon-circle
                                                +icon('hands', 'pr__icon-svg')
                                            .pr__icon-title
                                                |Ручная
                                                br
                                                |фасовка
                                        .pr__icon
                                            .pr__icon-circle
                                                +icon('packing', 'pr__icon-svg')
                                            .pr__icon-title
                                                | Яркий дизайн
                                                br
                                                | упаковки
                                        .pr__icon
                                            .pr__icon-circle
                                                +icon('rublAbout', 'pr__icon-svg')
                                            .pr__icon-title
                                                | Доступные цены,
                                                br
                                                | гибкая система
                                                br
                                                | скидок
                                        .pr__icon
                                            .pr__icon-circle
                                                +icon('delivery', 'pr__icon-svg')
                                            .pr__icon-title
                                                | Доставка
                                                br
                                                | по всей Росиии
                                                br
                                                | и СНГ

                    div(data-id=2 ).pr__tab
                        .pr__revs
                            .container
                                .revs
                                    .row
                                        //- left
                                        .revs__left
                                            //- list
                                            .revs__list
                                                each i in [1,2,3,4]
                                                    .revs__item
                                                        div(data-id=i).rev
                                                            //- top
                                                            .rev__top
                                                                .rev__user
                                                                    +icon('cabinet', 'rev__user-svg')
                                                                    .rev__user-name Денис Еманов

                                                                .rev__time denis_zz, 01 августа 2018

                                                            //- middle
                                                            .rev__middle
                                                                .rev__desc Заказывала миндаль, мелкий фундук, кешью, финики, карри и кориандр. Понравился миндаль, кешью, финики и карри Спасибо вам за них, но огорчил фундук (без запаха и вкуса и очень мелкий, как горошинки) и кориандр (сорный).

                                                            //- bottom
                                                            .rev__bottom
                                                                .rev__rating
                                                                    .rating
                                                                        .rating__wrapper
                                                                            each k in [5,4,3,2,1]
                                                                                input(type='radio' name='rating' + i value=k checked=k == 3 ? true : false id=i + '-rating-' + k).rating__input
                                                                                label(for=i + '-rating-' + k).rating__star
                                                                                    +icon('star', 'rating__star-svg')

                                                                .rev__likes
                                                                    .rev__likes-title Отзыв полезен?
                                                                    .rev__likes-list
                                                                        .rev__like.prRevLike
                                                                            .rev__like-count 1
                                                                            +icon('like','rev__like-svg')
                                                                        .rev__dislike.prRevDislike
                                                                            .rev__dislike-count 0
                                                                            +icon('dislike','rev__dislike-svg')

                                            //- pag
                                            .revs__pag
                                                include ../common/blocks/pagination


                                        //- right
                                        .revs__right
                                            form(action='#' method='post').revs__form.feed
                                                .revs__form-wrap.feed__wrap
                                                    input(type='hidden' name='action' value='revForm')
                                                    .revs__form-title Оставить отзыв
                                                    .revs__form-subtitle Все отзывы проходят модерацию, во избежания спама
                                                    .revs__form-fields
                                                        .row
                                                            .revs__form-field
                                                                input(type='text' name='name' placeholder='Ваши имя').input
                                                            .revs__form-field
                                                                input(type='email' name='email' placeholder='E-mail').input
                                                            .revs__form-field.revs__form-field_2
                                                                textarea(name='comment' placeholder='Добавьте комментарий...').input.input_area
                                                    .revs__form-block
                                                        .revs__form-rating
                                                            .rating.rating_green
                                                                .rating__title Ваша оценка
                                                                .rating__wrapper
                                                                    each i in [5,4,3,2,1]
                                                                        input(type='radio' name='rating' value=i id='form-rating-' + i).rating__input
                                                                        label(for='form-rating-' + i).rating__star
                                                                            +icon('star', 'rating__star-svg')
                                                        .revs__form-button
                                                            button(type='submit').btn
                                                                .btn__title Отправить





        //- recently
        section.pr__recently
            include ../common/blocks/recently
