mixin icon(iconName, iconClass)
    svg(class=`${iconClass}`)
        use(xlink:href=`images/icons/sprite.svg#${iconName}`)

mixin image(imagePath, imageAlt, imageClass)
    img(src=`images/${imagePath}`, alt=`${imageAlt}`, class=`${imageClass}`)

mixin price (value, dopClass)
    div(class=dopClass).price
        span.price__val= value
        span.price__type руб.

mixin oldPrice (value, dopClass)
    div(class=dopClass).price.price_old
        span.price__val= value
        span.price__type руб.

mixin item(id, dopClass)
    a(href='product.html' data-id=id class=dopClass).item.buyItem
        .item__wrap

            //- top
            .item__top

                //- discount
                .item__discount 15%

                //- country
                .item__country
                    img(src='images/bg/flag.png').item__country-img
                    span.item__country-title Россия

                //- img
                .item__img
                    img(src='images/content/products/product.png').item__img-img.buyImg

            //- bottom
            .item__bottom
                .item__left
                    //- title
                    .item__title Миндаль голд сырой

                    //- pricing
                    .item__pricing
                        +price('105.00')
                        +oldPrice('120.00')

                    //- weight
                    .item__weight
                        .item__weight-title Вес:
                        .item__weight-val 500 гр.

                .item__center
                    //- count
                    .item__count
                        .item__count-title Количество:
                        .item__count-input
                            form(action='#' method='post').count
                                button(type='button').count__down
                                input(type='text' name='count' value='1' readonly=true).count__input
                                button(type='button').count__up

                .item__right
                    //- buy
                    .item__buy
                        button(type='button').btn.buy
                            +icon('basket', 'btn__svg')
                            .btn__title В корзину

                    //- fast
                    button(type='button').item__fast Купить в один клик


        .item__hidden

            .item__block
                .item__wrap

                    //- desc
                    .item__desc
                        .item__desc-title Пищевая и энергетическая ценность продукта на 100 гр.
                        .item__list
                            .item__item
                                .item__item-title Ккал
                                .item__item-line
                                .item__item-val 643
                            .item__item
                                .item__item-title Углеводы
                                .item__item-line
                                .item__item-val 19,9
                            .item__item
                                .item__item-title Жиры
                                .item__item-line
                                .item__item-val 53,3
                            .item__item
                                .item__item-title Белки
                                .item__item-line
                                .item__item-val 20,8
                        .item__period
                            | Срок годности:&nbsp;
                            span.item__period_gold
                                | 6 месяцев


                    //- top
                    .item__top

                        //- discount
                        .item__discount 15%

                        //- country
                        .item__country
                            img(src='images/bg/flag.png').item__country-img
                            span.item__country-title Россия

                        //- img
                        .item__img
                            img(src='images/content/products/product.png').item__img-img

                    //- bottom
                    .item__bottom
                        .item__left
                            //- title
                            .item__title Миндаль голд сырой

                            //- pricing
                            .item__pricing
                                +price('105.00')
                                +oldPrice('120.00')

                            //- weight
                            .item__weight
                                .item__weight-title Вес:
                                .item__weight-val 500 гр.

                        .item__center
                            //- count
                            .item__count
                                .item__count-title Количество:
                                .item__count-input
                                    form(action='#' method='post').count
                                        button(type='button').count__down
                                        input(type='text' name='count' value='1' readonly=true).count__input
                                        button(type='button').count__up

                        .item__right
                            //- buy
                            .item__buy
                                button(type='button').btn.buy
                                    +icon('basket', 'btn__svg')
                                    .btn__title В корзину

                            //- fast
                            button(type='button').item__fast.fastOrder Купить в один клик

                //- hidden
                .item__compare
                    .item__compare-button
                        +icon('compare', 'item__compare-svg')
                        .item__compare-title Сравнить

mixin advantages(dopClass)
    div(class=dopClass).advantages
        .row
            .advantages__title.title.title_left Воспользуйтесь преимуществами работы с нами:
            .advantages__descs
                .row
                    .advantages__desc Мы тщательно следим за качеством продукции, проводя различные проверки в новейших лабораториях с помощью современного оборудования.
                    .advantages__desc Специальные условия хранения и соблюдение температурного режима лишь поддерживает безупречное качество наших орехов и сухофруктов
        .advantages__list
            .row
                each i in cadvsLIst
                    .advantages__item
                        .advantages__item-icon
                            +icon(i.svg, 'advantages__item-svg')
                        .advantages__item-title= i.title